html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.fixed-action-btn {
  position: absolute;
}

.fab:hover + .fab-options, .fixed-action-btn {
  visibility: visible;
  bottom: 40px;
} 

.delete_wireframe {
  position: absolute;
  right: 5%;
  top: 20px;
  background-color: #0895b8;
}

/* .zoom_in {} */

.yes_no_button {
  background-color: #0895b8;
}
/* .row {} */

.column {
  height: 600px;
  float: left;
  width: 30%;
  margin: 2px;
  background-color: white;
  border: 1px solid black;
}
.container_button {
  height: 80px; 
  width: 170px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
}

/* .label_button {} */

.input_button {
  height: 40px; 
  width: 150px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
}

.trash_black {
  left: 735px;
}

.list-heading {
  height: 50px;
  font-size: 30px;
}

.add_button {
  text-align: center;
}
.container_controls {
  position: absolute;
  width:100%;
  height:100%;
}

.rnd {
  z-index: 1;
}
.rnd_container {
  z-index: 0;
}



